/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 27, 2014, 5:09:16 PM
    Author     : keitheveritt
*/

td.error {font-size: 8pt; font-style: italic; color: Red; text-align: left;}
form.headerForm { float:right; }
div.loginLink { float:right; }
div.pageContent { text-align: center; }
h1.pageTitle {text-align: center; font-weight: bold;}
.clearer { clear: both; }
h3.listStart{text-decoration: underline;}
h6.copyright {
   font-style: italic; 
   text-align: center;
   position:absolute;
   bottom:0;
   width:99%;
   height:10px;   /* Height of the footer */
}



